﻿@model IEnumerable<Data.DTO.busDTO>

@{
    ViewBag.Title = "busView";
}

<h2>busView</h2>
@if (Session["userName"] != null)
{
<p>
    @Html.ActionLink("Create New Record", "createBus")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.busId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.busNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.routeId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.busId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.busNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.routeId)
        </td>
        <td>
            @Html.ActionLink("Edit", "editBus", new { busId = item.busId }) |
            @Html.ActionLink("Delete", "deleteBus", new { busId = item.busId })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back to Dash Board", "adminpage")
}

