﻿@model Data.DTO.busDTO

@{
    ViewBag.Title = "deleteBus";
}

<h2>deleteBus</h2>
<div>
    <h4>busDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.busId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.busNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.routeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.routeId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "busView")
        </div>
    }
</div>
