﻿@model Data.DTO.studentDTO

@{
    ViewBag.Title = "deleteStudent";
}

<h2>deleteStudent</h2>


<div>
    <h4>studentDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.busId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "studentView")
        </div>
    }
</div>

