﻿@model IEnumerable<Data.DTO.routeDTO>

@{
    ViewBag.Title = "routeView";
}
@if (Session["userName"] != null)
{
<h2>routeView</h2>

<p>
    @Html.ActionLink("Create New", "createRoute")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.routeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.via)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.routeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.via)
        </td>
        <td>
            @Html.ActionLink("Edit", "editRoute", new { routeId = item.routeId }) |

            @Html.ActionLink("Delete", "deleteRoute", new { routeId = item.routeId })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back to Dash Board", "adminpage")
}