﻿@model IEnumerable<Data.DTO.userDTO>

@{
    ViewBag.Title = "userView";
}
@if (Session["userName"] != null)
{
<h2>userView</h2>

<p>
    @Html.ActionLink("Create New", "createUser")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roleId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roleId)
        </td>
        <td>
            @Html.ActionLink("Edit", "editUser", new { userId = item.userId }) |
            @Html.ActionLink("Delete", "deleteUser", new { userId = item.userId })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back to Dash Board", "adminpage")

}